#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system

/dev/pvrsrvkm             0666   system     system
/dev/video0               0666   system     camera
/dev/video1               0666   system     camera
/dev/video2               0666   system     camera
/dev/s3c-jpg              0666   system     camera
/dev/s3c-mem              0666   system     system
/dev/s3c-mfc              0666   system     graphics

/dev/modem_ctl            0666   radio      radio
/dev/modem_fmt            0666   radio      radio
/dev/modem_rfs            0666   radio      radio
/dev/s3c2410_serial3      0666   radio      radio
/dev/block/mtdblock5      0666   radio      radio
/dev/mtd/mtd5ro           0666   radio      radio

#for Sensors
/dev/mpu                  0666   system     system
/dev/mpuirq               0666   system     system
/dev/accelirq             0666   system     system
/dev/compassirq           0666   system     system
/dev/timerirq             0666   system     system

#for SYSLINK
/dev/rpmsg-omx0           0666   drmrpc    drmrpc
/dev/rpmsg-omx1           0666   drmrpc    drmrpc
/dev/rproc_user           0666   drmrpc    drmrpc
/dev/tf_driver            0666   drmrpc    drmrpc
/dev/tf_ctrl              0666   drmrpc    drmrpc

/dev/syslink-proc4430	  666    media      media 
/dev/syslink-procmgr      666    media      media
/dev/syslink_ipc          666    media      media
/dev/omap-rproc0          444    media      media
/dev/omap-rproc1          444    media      media
/dev/omap-rproc2          444    media      media
/dev/iovmm-omap0          444    media      media
/dev/iovmm-omap1          444    media      media
/dev/omap-devh0           444    media      media
/dev/omap-devh1           444    media      media
/dev/omap-devh2           444    media      media

# for Sensor HAL
/dev/akm8973              0666   system     system
/dev/accelerometer        0666   system     system

# for GPS
/dev/s3c2410_serial1      0666   gps        gps
